.lost-figures-section__figures {
  padding: 5px;
  height: 100%;
}

.lost-figures-section {
  right: -20vw;
}
@media screen and (max-width: 768px) {
  .lost-figures-section {
    right: -25vw;
  }
}

@media screen and (max-width: 500px) {
  .lost-figures-section {
    right: -40vw;
  }
}

.lost-figures-section_open {
  overflow: hidden;
  right: 0;
}

.lost-figures-section__label {
  left: -15px;
}

