.timer {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 20px;
  row-gap: 10px;
  width: 100%;
  min-height: 160px;
  overflow-y: auto;
}

.timer__time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .timer {
    padding: 15px;
  }

  .timer__title {
    max-width: 90px;
  }
}