.board-section,
.menu-section,
.lost-figures-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lost-figures-section,
.menu-section {
  padding: 20px;
  width: 20vw;
  background-color: #f0d9b5;
  border: 1px solid black;
  border-radius: 20px;
  min-height: 60vh;
  max-height: 70vh;
  row-gap: 20px;
  position: absolute;
  z-index: 20;
  transition: all 0.4s ease-in-out;
  height: 100%;
}

.lost-figures-section__figures,
.menu-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  row-gap: 30px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .lost-figures-section,
  .menu-section {
    width: 25vw;
    padding: 10px;
  }
}

@media screen and (max-width: 500px) {
  .lost-figures-section,
  .menu-section {
    width: 40vw;
    padding: 10px;
  }
}

@keyframes shake {
  0%,
  20%,
  100% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-3px);
  }
  15% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(3px);
  }
  30% {
    transform: translateX(0);
  }
}

.lost-figures-section__label,
.menu-section__label {
  height: 15vh;
  width: 30px;
  background-color: #eed1a3;
  border: 1px solid black;
  z-index: 21;
  position: absolute;
  top: 40%;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: shake 15s ease-in-out infinite;
}

.label-line {
  height: 70%;
  width: 3%;
  background-color: #000;
}
